<div class="cv-skills mb-4">
  <ul class="list-unstyled">
    {% for skill in data[1] %}
      {% if skill.name and skill.keywords %}
        <li>
          <span class="title ml-1 ml-md-4" style="color: #2698ba; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            {{ skill.name }}:
          </span> 
          {{ skill.keywords | join: ", " }}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
